.page {
  width: 1280px;
  margin: 0 auto 0;
}
body {
  background: #2c2b3d;
  margin: auto;

  font-family: "JetBrains Mono", monospace;
  color: #fff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 101px;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
a:hover {
  opacity: 0.75;
}
ul {
  font-family: "JetBrains Mono", monospace;
  list-style: none;
  display: flex;
  gap: 64px;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 82px;
}
section {
  text-align: center;
}
p {
  line-height: 28px;
  font-size: 16px;
  font-weight: lighter;
  color: #c2c2c2;
}
h1 {
  font-size: 36px;
  margin-bottom: 59px;
}
.line {
  width: 568px;
  height: 0px;
  border: 1px solid #00bfa6;
  margin: 157px auto 27px;
}
footer {
  font-size: 14px;
  text-align: center;
}
span {
  color: #00bfa6;
  font-weight: bold;
}
#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}
